/* 
	=== Color Scheme === 
	Color:		Hex Code:
	Black 		#000000
	White 		#FFFFFF
	Dark Grey	#383838
	Light Grey	#8C8C8C
	Light Blue	#1098F7
	Dark Blue	#4444D0
*/

body{
	background-color: #000000;
	padding: 0rem 15rem;
}

/* Media Queries for shrinking side margins */
@media only screen and (max-width: 1356px){
	body{
		padding: 0rem 12rem;
	}
}

@media only screen and (max-width: 1273px){
	body{
		padding: 0rem 9rem;
	}
}

@media only screen and (max-width: 1190px){
	body{
		padding: 0rem 6rem;
	}
}

@media only screen and (max-width: 1107px){
	body{
		padding: 0rem 3rem;
	}
}

@media only screen and (max-width: 1024px){
	body{
		padding: 0rem;
	}
}

.navbar{
	background-color: #1098F7;
	color: #FFFFFF;
}

a{
	color: white;
}

main{
	background-color: #383838;
	color: #FFFFFF;
	margin: 0rem;
	padding: 1rem;
}

main h1{
	text-align: center;
	margin: 0rem 0rem 1rem 0rem;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 5rem;
	background-color: #1098F7;
	color: #FFFFFF;
	padding: 1rem;
}

footer img{
	max-height: 3rem;
	margin: 0rem 0.5rem;
}

.footerItem{
	color: #FFFFFF;
}
