body{
	background-color: #000000;
	padding: 0rem 15rem;
}

.navbar{
	background-color: #2035F7;
	color: #FFFFFF;
}

@media only screen and (max-width: 1350px)
{
	body{
		padding: 0rem 10rem;
	}
}

@media only screen and (max-width: 1200px)
{
	body{
		padding: 0rem 5rem;
	}
}

@media only screen and (max-width: 1024px)
{
	body{
		padding: 0rem;
	}
}

main .jumbotron{
	color: #FFFFFF;
	margin: 0rem;
}

footer{
	background-color: #2035F7;
	color: #FFFFFF;
	padding: 1rem;
}