.proj-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 2rem;
}

/* Media Queries for rearranging grid */
@media only screen and (max-width: 960px){
	.proj-grid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 675px){
	.proj-grid{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

.proj{
	text-align: center;
}

.proj p{
	margin: 0rem;
}

h4 > a:hover{
	text-decoration: none;
}

.proj img{
	margin: 0.5rem;
	max-height: 11rem;
	width: auto;
}

@media only screen and (max-width: 425px){
	.proj img{
		max-height: 8rem;
	}
}

.proj a:hover{
	color: #8C8C8C;
	text-decoration: none;
}