.layout{
	display: grid;
	grid-template-areas: 
		"languages description links";	
}

#subHeader{
	grid-area: "description";
	text-align: center;
}

.langs{
	grid-area: "languages";
	display: flex;
	justify-content: space-evenly;
	margin: 0.5rem 2.5rem;
}

.langs img{
	max-height: 2rem;
	margin: 0rem;
}

.links{
	grid-area: "links";
}

#github{
	max-height: 2rem;
	width: auto;
}